<!DOCTYPE html>
<html>
<head>
    <title>React + Spring</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
         <link rel="stylesheet" href="/css/kendo.common.min.css" />
         <link rel="stylesheet" href="/css/blackYellow.css" />
    <link rel="stylesheet" href="/css/kendo.default.min.css" />
     <link rel="stylesheet" href="/css/kendo.default.mobile.min.css" />
     
         <script src="https://fb.me/react-15.0.1.js"></script>
    <script src="https://fb.me/react-dom-15.0.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
  <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="/webjars/kendo-ui-core/2016.3.1317/js/kendo.core.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>

 <script type="text/javascript" src="js/includes/header.js"></script>
 <script type="text/javascript" src="js/includes/home.js"></script>
 <script type="text/javascript" src="js/model/products.js"></script>
 <script type="text/javascript" src="js/model/shop.js"></script>
 <script type="text/javascript" src="js/model/orders.js"></script>
<script src="/js/kendo.all.min.js"></script>
     <script src="https://npmcdn.com/react-router@3.0.2/umd/ReactRouter.min.js"></script>
</head>
<body>
  
  <div id="container">
  
  </div>
  
  <script src="js/mainraw.js"></script>
</body>
</html>